body {
    margin: 0;
    padding: 0;
    font-family: 'Mina', sans-serif;
    font-size:24px;
    
}

header{
    display:flex;
    flex-direction: row ;
    justify-content: space-between;
    background-color: rgb(103,182,249);
    padding: 0px 20px 0px 20px
}

#svgTag{
    width:50px;
}

#svgContainer{
    background-image: url(cart.svg)
}

#productsTitle{
    margin:5px
}

#productForm{
    display:flex;
    justify-content: center
}

#searchBar{
    height:30px; 
    margin:25px;
    width:100%;
    
}

#productContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin:5px;
}

@media (max-width: 430px) {
    #productContainer > div{
        width: 48%;
    }
}

@media(min-width: 431px){
    #productContainer > div{
        width:30%;
    }
}

/* styling for DOM product page */

.productElement {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: left;
}

.imageContainer {
    width: 200px;
    height: 200px;
}

.productTextContainer {
    text-align: left; 
    width: 100px
}

.productPrice {
    font-size: 18px;
}
